---
const { href } = Astro.props;
---
<a {href}
   class={"mx-1 inline-flex not-prose text-red-800 dark:text-amber-500 justify-center items-center rounded-lg border border-red-800 dark:border-amber-500 px-1.5 py-0.5 text-xs hover:bg-red-800 hover:text-white dark:hover:bg-amber-500 dark:hover:text-black duration-200"}>
  <iconify-icon icon={"bi:skip-end-fill"} className={"me-1"} />
  Skip Button
</a>
