<label class="inline-grid place-content-center *:col-start-1 *:row-start-1 p-2.5 rounded-lg cursor-pointer hover:text-neutral-900 dark:text-neutral-200 dark:hover:text-neutral-50 hover:bg-neutral-400/10 duration-300">

  <!-- Side-nav Toggle Checkbox (maintains state) -->
  <input id="side-nav-toggle" type="checkbox" class="peer hidden" />

  <!-- Side-nav Toggle Icons -->
  <iconify-icon icon="material-symbols-light:menu" class="text-[1.675rem] peer-checked:invisible peer-checked:opacity-0 duration-300 rotate-180 peer-checked:rotate-90" />
  <iconify-icon icon="material-symbols-light:close" class="text-[1.675rem] invisible opacity-0 peer-checked:visible peer-checked:opacity-100 duration-300 peer-checked:-rotate-90" />
</label>