---
import { Image } from 'astro:assets';
import myImage from '@assets/images/me.webp'

let heading = "Hi, I'm Chris.";
let subheading = "A software developer building things out of passion and curiosity.";

const { class: classList } = Astro.props;
---

<section id="hero" class:list={[classList, "h-full text-center lg:text-start relative flex flex-col items-center justify-between lg:flex-row-reverse gap-4 lg:gap-12"]}>
  <Image src={myImage} alt="Christian Tanul Profile Picture" class="rounded-[4.5rem] border border-neutral-600 object-cover transition-all size-[300px] lg:h-auto lg:w-[400px] lg:object-center shadow-lg"/>

  <div class="mt-4 sm:mt-6 lg:mt-0">
    <h1 class="font-semibold text-4xl sm:text-5xl lg:text-6xl text-neutral-800 dark:text-neutral-100 font-['Sora_Variable']">
      {heading}
    </h1>
    <p class="mt-4 sm:mt-6 max-w-xl text-lg sm:text-xl">
      {subheading}
    </p>

    <div class="h-[1px] w-full bg-neutral-800/10 dark:bg-neutral-400/5 my-8"></div>

    <div class="flex flex-col lg:items-start items-center justify-center w-full mt-6">
      <span class="text-lg sm:text-xl">
        Want to do something cool together?
      </span>

      <button class="translate-x-0 rounded-lg bg-black lg:ms-2 mt-6 sm:mt-8">
        <a href="/contact">
          <span class="block font-['Sora_Variable'] border border-neutral-600 dark:border-transparent items-center bg-gradient-to-br text-white/95 dark:text-neutral-800 from-red-800 to-orange-700 dark:from-amber-500 dark:to-orange-500 -translate-x-2 -translate-y-2 rounded-lg p-4 text-xl transition-all hover:-translate-y-3 active:translate-x-0 active:translate-y-0">
            Contact Me
          </span>
        </a>
      </button>
    </div>

  </div>

</section>
