---
import Layout from "@layouts/Layout.astro";
---

<Layout
  title="About | Christian Tanul"
  description="Learn more about Christian Tanul, a full-stack developer and designer based in Timisoara, Romania.">
  <section id="about">
    <div
      class="mx-auto prose prose-a:text-neutral-800 prose-img:rounded-3xl prose-img:mb-0 prose-img:mt-4 prose-p:mb-0 prose-p:text-neutral-800/90 mt-20 flex max-w-xl flex-col items-center justify-center lg:mt-40 lg:items-start lg:text-start">
      <h1 class="mb-0 text-4xl font-semibold">About</h1>

      <p>
        Hi, I'm Chris, and I'm better at writing code than "about" sections.
      </p>


      <h2>Background</h2>

      <p>
        I was always a curious kid, asking silly questions that drove people crazy. I still ask
        them, but I've yet to drive a LLM crazy.
      </p>

      <p>
        Growing up, I was encouraged by my mother to work hard and value dedication. This led me
        to start freelancing in graphic design and website building at 14, while also learning to code in Python.
        Solving coding challenges on <a
        href="https://www.codewars.com/"
        target="_blank">CodeWars</a
      > while listening to <a href="https://www.youtube.com/watch?v=pFS4zYWxzNA" target="_blank"
      >Matrix's theme song</a
      > quickly became my favourite activity.
      </p>

      <img src="/python-work.webp" alt="Python work" />

      <h2>Early Career</h2>

      <p>
        At 16, I was hired by CRO OperaCRO. There, I built a handful of web applications. They automated previously manual administrative tasks such as approvals, timesheets, etc.
      </p>

      <img src="/old_app.webp" alt="Old Timesheet App" />

      <p>
        I also automated the censoring of (at least) 10000 clinical photos using Python & an existing facial landmark detection model.
      </p>

      <img src="/facial_recognition.jpg" alt="Facial recognition" />

      <p>
        Working there, I better understood the value I can bring with my ability to write code. I saved the company several thousands of hours of work in my 4 years there.
      </p>

      <h2>Education</h2>

      <p>
        By the time I was 18, I was already working as a full-stack developer and earning a good
        salary.
      </p>

      <p>
        I decided to go to university to get a degree in Computer Science, just to have a safety
        net in case things went south.
      </p>

      <p>
        Unfortunately, the environment wasn't what I expected. I was either learning things I
        already knew, things that were outdated, or things that I didn't find useful. I decided to
        drop out after the first semester, and I've yet to regret that decision.
      </p>

      <h2>LLMs & AI</h2>

      <p>
        In early 2023, I got early access to GPT-4, which motivated me to became an early adopter of the OpenAI API.
        I contributed to the open-source <a href="https://github.com/Significant-Gravitas/AutoGPT/pull/868">AutoGPT
        repository</a>, one of the very first attempts to let a GPT run autonomously through Tree of Thoughts & agents.
      </p>

      <img src="/autogpt_contribution.webp" alt="AutoGPT contribution" />

      <p>
        I quickly saw both the limitations and potential of this tech. With countless ways to combine LLMs to boost
        efficiency or innovate, I started experimenting with it myself.
      </p>

      <p>
        I used OpenAI's Whisper (speech-to-text) to turn sessions of thinking-out-loud into text, and then used GPT-4
        to parse that text into actionable tasks inserted directly into my to-do list app.
      </p>

      <img src="/whisper_todoist_project.png" alt="Whisper to Todoist project" />

      <p>
        It's pretty wild how 2-hour boring drives turned into productive planning sessions without having to lift a
        finger.
      </p>

      <p>
        I even created a Telegram bot that could mimic various personalities. You'd pick a character, and the bot would
        scan relevant resources like wiki pages and books to learn about them. Then, it would respond to you as if it
        were that person.
      </p>

      <img src="/telegram_bot.webp" alt="Telegram bot" />

      <p>
        It was a fun little project, mainly to keep my girlfriend entertained.
      </p>

      <p>
        Around this time, I made the decision of going the entrepreneurial path, while also discovering a passion
        for teaching.
      </p>

      <p>
        I started writing a free web development course for self-taught Python developers, while also building a
        <a href="https://pyoneers.dev" target="_blank">platform</a> for it. I post some blogs there occasionally,
        such as <a href="https://pyoneers.dev/blogs/how_to_use_chatgpt_when_learning_to_code/">how I'd use ChatGPT when
        learning to code</a>.
      </p>

      <p>
        This was also my first attempt at fine-tuning a GPT to match a specific way of formulating answers.
        I integrated it into my platform as a mascot for the course.
      </p>

      <img src="/pyoneers_gpt.png" alt="Pyoneers GPT" />

      <h2>Current</h2>

      <p>
        As of right now (April 2024), I'm working on three things:
      </p>

      <p>
        <a href="https://intreabalegea.ro">Intreabă Legea</a>, a LLM-powered platform that helps Romanians understand
        the law (openly looking for a co-founder & investors).
      </p>

      <img src="/intreabalegea.webp" alt="Intreabă Legea" />

      <p>
        My <a href="https://lessons.tanulchristian.dev">in-person lessons</a>, where I teach web development in my
        city.
      </p>

      <img src="/lessons.webp" alt="In-person lessons" />

      <p>
        And freelance projects as a contractor, where I help companies build web applications or websites.
      </p>

      <a href="https://altm.ro" target="_blank">
        <img src="/altm.webp" alt="Active Learning Timisoara Spanish Courses" />
      </a>

      <a href="https://nataliagramada.com" target="_blank">
        <img src="/nataliagramada.webp" alt="Natalia Gramada" />
      </a>

      <h2>Motivation</h2>

      <p>
        Although not a big fan of religion, I do believe in a higher power that guides me. I know my passion and
        ability to code are gifts that I must use to help others. I'm motivated by the idea of making the world a
        better place through technology, and despite the pessimism around AI, I believe it can be a force for good.
      </p>

      <p>
        I've chosen to go the entrepreneurial path because I believe it's the best way to make a significant impact,
        and I am not afraid of the risks that come with it.
      </p>

      <p>
        My ultimate goal is to contribute with something meaningful before I perish.
      </p>

      <h2>Final Note</h2>

      <p>
        I'm not actively seeking a job, especially not in big corporations, but I'm open to opportunities that allow me
        to use technology for good. Please reach out if you think we could work together.
      </p>
    </div>
  </section>
</Layout>
