---
import Layout from "../layouts/Layout.astro";
import Divider from "../components/Divider.astro";

const birthDate = new Date("2002-01-03");
const today = new Date();
const myAge = today.getFullYear() - birthDate.getFullYear();
---

<Layout
  title="About Me | Christian Tanul: Personal Site"
  description="Learn more about Christian Tanul, a full-stack developer and designer based in Timisoara, Romania.">
  <section id="about">
    <div
      class="mx-auto mt-20 flex max-w-xl flex-col items-center justify-center hyphens-auto text-justify lg:mt-40 lg:items-start lg:text-start">
      <h1 class="mb-0 text-4xl font-semibold">About</h1>
      <p class="mb-8 mt-2 text-base text-zinc-800/90 lg:text-lg">
        Thanks for stopping by! Here's a little bit about me.
      </p>

      <div
        class="prose mx-auto font-['Barlow'] text-zinc-800 prose-a:text-blue-500 prose-img:my-0 prose-img:rounded-3xl">
        <p>
          I'm a {myAge}-year-old guy from Timisoara, Romania who believes in the power of technology
          to change the world - as edgy as that sounds.
        </p>

        <h2 class="text-zinc-800">Background</h2>

        <p>
          I was always a curious kid, asking silly questions that drove people crazy. I still ask
          them, but I've yet to drive ChatGPT crazy.
        </p>

        <p>
          Growing up, I was encouraged by my mother to work hard and value dedication. This led me
          to start freelancing in graphic design and website building at 14. By the time I was 16, I
          discovered Python and committed to code every single day. Solving coding challenges on <a
            href="https://www.codewars.com/"
            target="_blank">CodeWars</a
          > while listening to <a href="https://www.youtube.com/watch?v=pFS4zYWxzNA" target="_blank"
            >Matrix's theme song</a
          > quickly became my favourite activity.
        </p>

        <img src="/python-work.webp" alt="Python work" />

        <h2 class="text-zinc-800">Early Career</h2>

        <p>
          I created a Python script to scrape local businesses needing website updates. I was a
          16-year-old kid going door-to-door to sell WordPress websites.
        </p>

        <h4 class="text-zinc-800">First Job</h4>

        <p>
          The attempts led me to a CEO who was impressed with my determination. That's how I landed
          my first job in IT support at a contract research organization. However, providing support
          in Excel was not my calling, so I attempted proving my worth.
        </p>

        <p>
          Using Python and computer vision, I managed to edit 2500+ photos from a clinical trial
          that needed to have faces blurred. This was a big help for the company. They thought it'd
          take 2 weeks, and I managed to do it in a few hours.
        </p>

        <p>
          Knowing I could do more, I started learning web development and applying it to the
          company's needs.
        </p>

        <p>
          Using what little WordPress I knew at the time, I stitched together two “web
          applications”, using a truckload of plugins. One of them was a Timesheet web app which
          held over 300.000 records of employee hours. They were not pretty, but they were
          functional.
        </p>

        <img src="/old_app.webp" alt="Old Timesheet App" />

        <h4 class="text-zinc-800">First Promotion</h4>

        <p>
          Eager to move away from WordPress, I suggested redesigning & rebuilding the web apps for
          better scalability and long-term use. My efforts were recognized, and I was promoted to a
          full-stack developer. My salary was increased 400% in just 6 months from the day I
          started.
        </p>

        <p>I then continued on developing more serious internal web apps.</p>

        <p>
          As I was the only developer at the time, I had to learn a lot of things on the fly. I used
          Django, a Python web framework, to reverse-engineer my way through <a
            href="https://github.com/cookiecutter/cookiecutter-django">django-cookiecutter</a
          > - an open-source project that provides a great starting point for production-ready Django
          projects.
        </p>

        <p>
          I had the possibility of taking my time to refactor the codebase significantly as my
          understanding increased over the course of 2 years. With each iteration, I improved the
          code quality, the architecture, and the performance. This was a massive learning
          experience for me.
        </p>

        <p>
          By the time I was done with these projects, I had already learned a great deal about web
          development, alongside many other technologies and concepts that came along with it,
          including Terraform, Docker, PostgreSQL, Celery, Redis, Nginx, bash scripting, and more.
        </p>

        <p>
          Taking upon the whole process by myself - building, refactoring, testing , deploying &
          maintaining the web apps was intense experience which included many roadblocks, some of
          which took weeks to solve all by myself. However, I wouldn't trade this experience for
          anything else, as it brought me closer to being a complete developer.
        </p>

        <h2 class="text-zinc-800">Education</h2>

        <p>
          By the time I was 18, I was already working as a full-stack developer and earning a good
          salary.
        </p>

        <p>
          I decided to go to university to get a degree in Computer Science, just to have a safety
          net in case things went south.
        </p>

        <p>
          Unfortunately, the environment wasn't what I expected. I was either learning things I
          already knew, things that were outdated, or things that I didn't find useful. I decided to
          drop out after the first semester, and I've yet to regret that decision.
        </p>

        <p>To be continued, when I have more time to write...</p>
      </div>
    </div>
  </section>
</Layout>
