---
import Layout from "@layouts/Layout.astro";
import ContactForm from "./contact/_Form.svelte";
---

<Layout title="Contact | Christian Tanul" description="Contact me for any inquiries, questions, or just to say hi!">
  <div class="mt-24 grid place-items-center size-full">
      <ContactForm client:load />
  </div>
</Layout>
