---
import Layout from "../layouts/Layout.astro";
import Sidebar from "../components/sidebar.astro"
import About from "../components/about.astro"
import Portfolio from "../components/portfolio.astro"
import Navbar from "../components/navbar.astro"
---

<Layout title="Scriptogres">
	 <main>
		<div class="min-w-[259px] lg:max-w-4xl md:max-w-2xl sm:max-w-lg xl:max-w-6xl  
		xl:flex xl:flex-row xl:justify-center xl:items-stretch xl:gap-6 xl:ms-auto xl:me-auto mx-3 my-3.5 sm:mx-auto sm:mt-14 mb-24
		lg:mb-14">
			<Sidebar />
			<article class="relative bg-black rounded border border-solid border-slate p-6 sm:p-8">
				<Navbar />
				<div id="about" class="transition-opacity ease-in-out duration-700">
					<About />
				  </div>
				  <div id="portfolio" class="hidden opacity-0 transition-opacity ease-in-out duration-700">
					<Portfolio />
				  </div>			  
			</article>
		</div>
	</main>
</Layout>
