---
import { Icon } from "astro-icon/components";
---

<a
  id="back-to-site"
  href="/"
  class="absolute left-8 top-8 z-10 inline-flex items-center rounded-full border border-transparent bg-transparent px-4 py-2 font-semibold duration-300 hover:border-white hover:bg-zinc-800">
  <Icon name="ri:arrow-left-s-line" class="me-1" />
  Back to site
</a>
