<section
  class="absolute inset-0 ms-auto h-screen w-screen overflow-hidden [&>*]:absolute [&>*]:size-1 [&>*]:-translate-y-4 [&>*]:translate-x-4 [&>*]:rounded-[50%] [&>*]:bg-orange-600 [&>*]:shadow-[0_0_0_4px_rgba(255,_255,_255,_0.1),0_0_0_8px_rgba(255,_255,_255,_0.1),0_0_20px_rgba(255,_255,_255,_0.1)] [&>*]:before:absolute [&>*]:before:top-[50%] [&>*]:before:h-[1px] [&>*]:before:w-[400px] [&>*]:before:-translate-y-1/2 [&>*]:before:bg-[linear-gradient(90deg,#fbbf24,transparent)] [&>*]:before:content-['']">
  <span
    class="right-0 top-0 animate-[shootingStar_3s_linear_infinite] animate-delay-[0s] animate-duration-[2s]"
  ></span>
  <span
    class="right-20 top-0 animate-[shootingStar_3s_linear_infinite] animate-delay-[1s] animate-duration-[3s]"
  ></span>
  <span
    class="right-0 top-20 animate-[shootingStar_3s_linear_infinite] animate-delay-[0.4s] animate-duration-[2s]"
  ></span>
  <span
    class="right-40 top-0 animate-[shootingStar_3s_linear_infinite] animate-delay-[0.6s] animate-duration-[2.5s]"
  ></span>
  <span
    class="right-[400px] top-0 animate-[shootingStar_3s_linear_infinite] animate-delay-[0.8s] animate-duration-[2.5s]"
  ></span>
  <span
    class="right-[600px] top-0 animate-[shootingStar_3s_linear_infinite] animate-delay-[1s] animate-duration-[3s]"
  ></span>
  <span
    class="right-0 top-[300px] animate-[shootingStar_3s_linear_infinite] animate-delay-[1.2s] animate-duration-[1.75s]"
  ></span>
  <span
    class="right-[700px] top-0 animate-[shootingStar_3s_linear_infinite] animate-delay-[1.4s] animate-duration-[1.25s]"
  ></span>
  <span
    class="right-[1000px] top-0 animate-[shootingStar_3s_linear_infinite] animate-delay-[0.75s] animate-duration-[2.25s]"
  ></span>
  <span
    class="right-[450px] top-0 animate-[shootingStar_3s_linear_infinite] animate-delay-[2.75s] animate-duration-[2.75s]"
  ></span>
</section>

<style>
  @keyframes shootingStar {
    0% {
      transform: rotate(315deg) translateX(0);
      opacity: 0.3;
    }
    70% {
      opacity: 0.3;
    }
    100% {
      transform: rotate(315deg) translateX(-1000px);
      opacity: 0;
    }
  }
</style>
