---
import { Icon } from "astro-icon/components";

const { icon, label, value, href } = Astro.props;
---

<a {href} class="flex items-center gap-4 max-lg:px-20">
  <Icon name={icon} class="size-10" />
  <div>
    <h2 class="text-lg font-semibold">{label}</h2>
    <slot>
      <p>
        <span class="text-zinc-800">
          {value}
        </span>
      </p>
    </slot>
  </div>
</a>
