---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import ContentSection from "../components/content-section.astro";
import Card from "../components/Card.astro";
const allAboutText = await getCollection('about')
const allCardInfo = await getCollection('cards')
const allClientsInfo = await getCollection('clientsLogos')
--- 
<ContentSection title="About Us">
    <Fragment slot="text">
        {
            allAboutText.map((text) => (
                <p class="mb-4 text-light-gray-90 leading-relaxed font-light text-sm sm:text-base">{ text.data.content }</p>
            ))
        }
    </Fragment>
    <Fragment slot="sub-section">
        <h3 class="font-bold text-white text-xl sm:text-2xl sm:mt-10 mb-5">What We're Doing</h3>
        <div class="grid gap-5 lg:grid-cols-2 lg:gap-x-6 sm:gap-y-5">
            {
                allCardInfo.map((card) => (
                    <Card icon={ card.data.icon }
                            title={ card.data.title }
                            body={ card.data.body }	/>
                ))
            }
        </div>
    </Fragment>
    <Fragment slot="sub-section">
        <h3 class="font-bold text-xl sm:text-2xl text-white mt-10 mb-5">Clients</h3>
        <div class="flex justify-start items-start sm:gap-12 gap-4 my-0 mx-[-10px] sm:mx-[-27px]
            p-6 sm:p-11 overflow-x-auto scroll-smooth scroll-pe-6 scroll-ps-6 sm:scroll-pe-11 sm:scroll-ps-11">
            {
                allClientsInfo.map((image) => (
                    <div class="snap-start lg:min-w-[calc(25%-38px)] sm:min-w-[calc(50%-35px)] min-w-[calc(50%-35px)]">
                        <a href={ image.data.url }>
                            <Image src={ image.data.cover } alt={ image.data.coverAlt } 
                             class="transition ease-in-out duration-200 grayscale hover:grayscale-0 h-32 object-contain" />
                        </a>
                    </div>
                ))
            }
        </div>
    </Fragment>
    </ContentSection>
