---
const { href } = Astro.props;
---

<a
  href={href}
  class="relative flex items-center justify-center gap-[8px] overflow-hidden whitespace-nowrap rounded-full border border-zinc-700 bg-white/80 px-[14px] py-[9px] text-center align-middle text-[var(--text)] no-underline shadow-[var(--shadow-md)] hover:bg-[hsla(var(--zinc-999-basis),0.3)] focus:bg-[hsla(var(--zinc-999-basis),0.3)] md:px-[20px] md:py-[18px]">
  <slot />
</a>
