---
import { Icon } from "astro-icon";
interface Props {
	icon: string;
	body: string;
	title: string;
}
const { icon, title, body } = Astro.props;
---

<div class="card-item block sm:flex sm:gap-5 p-5 sm:p-8 rounded-xl shadow-xl">
	<div class="flex justify-center mb-3 mt-0 sm:mb-0">
		<Icon name={ icon } class="h-10 svgFilter" />
	</div>
	<div class="sm:text-left text-center">
		<p class="font-bold text-lg text-white mb-2">{ title }</p>
		<p class="font-normal text-light-gray-90 text-sm">{ body }</p>
	</div>
</div>
