---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<article class="bg-black p-3.5 rounded border border-solid border-slate sm:p-7">
  <header class="mb-3.5">
    <h2 class="text-2xl sm:text-3xl font-semibold pb-1.5 text-white relative">
      <p class="mb-2 sm:mb-4">{title}</p>
      <area class="absolute bottom-0 left-0 w-8 h-[3px] sm:h-[5px] sm:w-10 rounded-[3px] bg-light-slate">
    </h2>
  </header>
  <section class="mt-3 sm:mt-5">
    <slot name="text" />
    <slot name="sub-section" />
  </section>
  <slot />
</article>
