---
import ProjectPreview from "./index/ProjectPreview.astro";
---

<dialog
  id="featured_projects"
  class="group/modal modal px-4 font-['Barlow'] text-zinc-100 backdrop-blur"
>
  <div class="flex flex-col items-center justify-center">
    <div class="mb-12 flex w-full max-w-lg items-center justify-between">
      <h2 class="text-2xl font-semibold">Featured Projects</h2>
      <button onclick="featured_projects.close()" aria-label="close">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-8 w-8"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </button>
    </div>

    <div
      class="flex w-full max-w-lg flex-col items-center justify-center gap-8 lg:flex-row"
    >
      <ProjectPreview
        title="The Pyoneer Project"
        description="A platform that provides free resources for full-stack developers."
        href="https://pyoneers.dev/"
        img={{
          src: "/pyoneers-preview.webp",
          alt: "Pyoneers Dev Website Preview",
        }}
      />
    </div>
  </div>
</dialog>
