---
import { Icon } from "astro-icon/components";
import Socials from "./Socials.astro";
const currentYear = new Date().getFullYear();
---

<footer class="flex flex-col items-center justify-center py-12">
  <Socials class="mb-4" />
  <span class="text-xs text-zinc-800/90">Copyright © {currentYear} Christian Tanul</span>
</footer>
