---
const { variant } = Astro.props;
---

<div
  class:list={[
    "grid",
    { offset: variant === "offset", small: variant === "small" },
  ]}
  class="offset col-span-1 mt-14 grid list-none grid-cols-1 gap-8 p-0 lg:grid-cols-[1fr_1fr] lg:grid-rows-[1fr] lg:gap-16"
>
  <slot />
</div>

<style>
  @media (min-width: 1024px) {
    .grid.offset {
      --row-offset: 7.5rem;
      padding-bottom: var(--row-offset);
    }

    /* Shift first item in each row vertically to create staggered effect. */
    .grid.offset > :global(:nth-child(odd)) {
      transform: translateY(var(--row-offset));
    }

    /* If last row contains only one item, display it in the second column. */
    .grid.offset > :global(:last-child:nth-child(odd)) {
      grid-column: 2 / 3;
      transform: none;
    }

    .grid.small {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      gap: 2rem;
    }

    .grid.small > :global(*) {
      flex-basis: 20rem;
    }
  }
</style>
