---
import { Icon } from "astro-icon/components";
import Socials from "./Socials.astro";

/** Main menu items */
const textLinks = [
  { label: "Home", href: "/" },
  { label: "About", href: "/about" },
  { label: "Lessons", href: "/lessons" },
  { label: "Contact", href: "/contact" },
];

/* Check if it's active (handle both trailing slash and no trailing slash) */
const isActive = (href) =>
  (href === "/" && Astro.url.pathname === "/") ||
  (href !== "/" && Astro.url.pathname.startsWith(href));
---

<nav class="relative mx-auto flex w-full items-center justify-between pt-4 lg:max-w-full lg:pt-16">
  <a href="/" class="duration-500 ease-in-out hover:rotate-[90deg]">
    <img src="/christian-tanul-logo.webp" alt="Christian Tanul" height="36" width="36" />
  </a>

  <div
    class="hidden items-center gap-2 rounded-full border border-zinc-600 bg-zinc-100/80 px-1.5 py-1.5 text-xl font-semibold shadow-xl *:duration-150 hover:*:bg-zinc-400/10 lg:flex">
    {
      textLinks.map((link) => (
        <a
          href={link.href}
          class:list={[{ active: isActive(link.href) }]}
          class="rounded-3xl px-4 py-1.5 text-sm">
          {link.label}
        </a>
      ))
    }
  </div>

  <div class="hidden lg:block">
    <Socials />
  </div>

  <label
    for="mobile-navigation-toggle"
    aria-label="Toggle navigation"
    class="peer btn btn-circle btn-ghost swap swap-rotate hover:bg-zinc-400/10 lg:hidden">
    <input id="mobile-navigation-toggle" type="checkbox" transition:persist />

    <Icon name="hamburger" class="swap-off size-8" />

    <Icon name="close" class="swap-on size-8" />
  </label>

  <div
    class="invisible absolute left-0 right-0 top-20 z-10 opacity-0 duration-300 ease-in-out peer-has-[:checked]:visible peer-has-[:checked]:opacity-100 lg:hidden">
    <div
      class="lg:max-w-auto mx-auto max-w-md rounded-xl bg-zinc-100/95 p-8 text-xl font-semibold shadow-xl">
      <div class="flex flex-col items-center gap-4 pb-8">
        {
          textLinks.map((link) => (
            <a
              href={link.href}
              class:list={[{ active: isActive(link.href) }]}
              class="rounded-3xl px-4 py-1.5 text-xl">
              {link.label}
            </a>
          ))
        }
      </div>

      <div class="-mx-8 flex items-center justify-center px-8">
        <Socials />
      </div>
    </div>
  </div>
</nav>

<style>
  .active {
    @apply bg-zinc-800 text-zinc-100;
  }
  .active-mobile {
    @apply underline decoration-zinc-800;
  }
</style>
