---
import About from "../pages/index.astro"
---
<nav class="bg-gray-300 text-light-gray border border-solid border-slate 
fixed bottom-0 left-0 w-full backdrop-blur-md rounded-tl-xl rounded-tr-xl sm:rounded-tl bg-opacity-70
lg:absolute lg:bottom-auto lg:top-0 lg:left-auto lg:right-0 lg:w-max sm:rounded-tr lg:rounded-bl lg:rounded-tl-none
lg:px-5 z-40">
    <ul class="flex flex-wrap justify-center px-2.5 sm:gap-5 lg:gap-7 lg:px-5">
      <li class="list-none">
        <button id="aboutBtn" class="text-light-gray text-xs sm:text-sm md:text-base md:font-medium
                         py-5 px-1.5 hover:text-light transition ease-in-out duration-200"
                         >About</button>
      </li>
      <li class="list-none">
        <button id="portfolioBtn" class="text-light-gray text-xs sm:text-sm md:text-base md:font-medium
                         py-5 px-1.5 hover:text-light transition ease-in-out duration-200"
                         >Portfolio</button>
      </li>
    </ul>
</nav>

<script>
  function toggleActive(activate, deactivate) {
    const activateComponent = document.getElementById(activate);
    const deactivateComponent = document.getElementById(deactivate);
    activateComponent.classList.add('active');
    deactivateComponent.classList.remove('active');
    console.log(activateComponent);
  }

  document.getElementById('aboutBtn').addEventListener('click', function () {
    toggleActive('about', 'portfolio');
  });

  document.getElementById('portfolioBtn').addEventListener('click', function () {
    toggleActive('portfolio', 'about');
  });
</script>