---
import { Icon } from "astro-icon/components";

const { title, description, icon } = Astro.props;
---

<div class="flex flex-col">
  <div class="mb-1 flex items-center justify-center lg:mb-2 lg:justify-start">
    <Icon name={icon} class="me-3 size-8" />
    <h2 class="text-lg font-semibold lg:text-2xl lg:font-normal">
      {title}
    </h2>
  </div>
  <p class="hyphens-auto text-center lg:text-justify">
    {description}
  </p>
</div>
