---
import { Icon } from "astro-icon/components";

const { title, icon } = Astro.props;
---

<div
  class="flex items-center gap-2 whitespace-nowrap rounded-full border border-zinc-600 bg-zinc-100/80 px-4 py-2 text-lg leading-snug shadow">
  <Icon name={icon} class="size-5" />
  {title}
</div>
