<div id="theme-picker-menu" class="absolute z-20 top-full right-0 invisible opacity-0 has-[:focus-visible]:visible has-[:focus-visible]:opacity-100 group-has-[button:focus]:visible group-has-[button:focus]:opacity-100 font-[500] duration-200 bg-white dark:bg-dark-gradient-lighter bg-fixed border border-transparent dark:border-neutral-400/5 rounded-lg ring-1 ring-neutral-800/10 shadow w-36 text-sm dark:ring-0 mt-4">
  <fieldset id="theme-picker">

    <label onkeydown="if (event.key === 'Enter' || event.key === ' ') event.target.click()"
           tabindex="0" class="px-4 py-2 flex items-center rounded-lg cursor-pointer has-[:checked]:text-red-800 dark:text-inherit hover:bg-neutral-400/10 outline-none focus-visible:outline-red-800 dark:focus-visible:outline-amber-500 duration-200">
      <input name="theme" type="radio" value="light" class="hidden" autocomplete="off" />
      <iconify-icon icon="ri:sun-line" class="text-lg me-2 pointer-events-none" />
      Light
    </label>

    <label onkeydown="if (event.key === 'Enter' || event.key === ' ') event.target.click()"
           tabindex="0" class="px-4 py-2 flex items-center rounded-lg has-[:checked]:text-amber-500 cursor-pointer hover:bg-neutral-400/10 outline-none focus-visible:outline-red-800 dark:focus-visible:outline-amber-500 duration-200">
      <input name="theme" type="radio" value="dark" class="hidden" autocomplete="off" />
      <iconify-icon icon="ri:moon-clear-line" class="text-lg me-2 pointer-events-none" />
      Dark
    </label>

    <label onkeydown="if (event.key === 'Enter' || event.key === ' ') event.target.click()"
           tabindex="0" class="px-4 py-2 flex items-center rounded-lg has-[:checked]:text-red-800 has-[:checked]:dark:text-amber-500 cursor-pointer hover:bg-neutral-400/10 outline-none focus-visible:outline-red-800 dark:focus-visible:outline-amber-500 duration-200">
      <input name="theme" type="radio" value="auto" class="hidden" autocomplete="off" checked />
      <iconify-icon icon="ri:computer-line" class="text-lg me-2 pointer-events-none" />
      System
    </label>

  </fieldset>
</div>

<script is:inline>
  function initThemePicker() {
    const themePicker = document.getElementById('theme-picker');
    if (!themePicker) return;

    const selectedTheme = localStorage.getItem('theme') || 'auto';
    themePicker.querySelector('input[checked]').removeAttribute('checked');
    themePicker.querySelector(`input[value="${selectedTheme}"]`).setAttribute('checked', '');

    {/* Set the theme based on the selected value */}
    themePicker.addEventListener('change', (e) => {
      setDarkMode(document, e.target.value);
    });
  }

  {/* Maintains theme picker's state during page transitions */}
  document.addEventListener('astro:page-load', initThemePicker);
</script>