---
import { getCollection } from "astro:content";
import ThemePickerMenu from "./ThemePickerMenu.astro";
import Announcement from "./Announcement.astro";

const { class: classList } = Astro.props;

let links = await getCollection('links');

let github = links.find(link => link.data.label === 'GitHub');
---

<nav class:list={[classList, "flex items-center justify-between w-full bg-neutral-50 dark:bg-dark-gradient shadow-sm border-b border-neutral-800/10 dark:border-neutral-400/5 backdrop-blur bg-fixed py-2 px-4 sm:px-8"]}>

  <!-- Left Side -->
  <div class="flex items-center">

    <!-- Side-nav Toggle -->
    <label onkeydown="if (event.key === 'Enter' || event.key === ' ') event.target.click()"
           tabindex="0"
           class="size-12 inline-grid place-content-center *:col-start-1 *:row-start-1 p-3 rounded-lg cursor-pointer hover:text-neutral-900 dark:hover:text-neutral-50 hover:bg-neutral-400/10 outline-none focus-visible:outline-red-800 dark:focus-visible:outline-amber-500 duration-200">
      <!-- Input (maintains state) -->
      <input id="side-nav-toggle" type="checkbox" class="hidden peer" />
      <script is:inline>
        // Upon astro:onload, set the initial state of the input
        document.addEventListener('astro:onload', () => {
          const input = document.getElementById('side-nav-toggle');
          input.checked = false;
        });
      </script>
      <!-- Icons -->
      <iconify-icon icon="gg:menu" class="size-5 peer-checked:invisible peer-checked:opacity-0 duration-200 rotate-180 peer-checked:rotate-90" height="unset" />
      <iconify-icon icon="gg:close" class="size-5 invisible opacity-0 peer-checked:visible peer-checked:opacity-100 duration-200 peer-checked:-rotate-90" height="unset" />
    </label>

    <!-- Logo -->
    <a href="/" class="tracking-wider text-sm sm:text-base font-[500] py-3 px-4 rounded-lg hover:text-neutral-900 dark:hover:text-neutral-50 hover:bg-neutral-400/10 outline-none focus-visible:outline-red-800 dark:focus-visible:outline-amber-500 duration-200 ms-2">
      ~/tanulchristian.dev/
    </a>

    <Announcement class="hidden lg:flex" />

  </div>


  <!-- Right Side -->
  <div class="flex items-center">

    <a href={github.data.href} title={github.data.value} target="_blank" class="inline-flex items-center p-3 rounded-lg text-neutral-600 dark:text-neutral-400 hover:text-neutral-800 focus:text-neutral-800 dark:hover:text-neutral-200 dark:focus:text-neutral-200 hover:bg-neutral-400/10 focus:bg-neutral-400/10 focus:border-transparent outline-none outline-1 focus:outline-red-800/50 dark:focus:outline-amber-500/50 duration-200">
      <iconify-icon icon={github.data.icon} class="size-5" height="unset" />
    </a>

    <!-- Divider -->
    <div class="h-6 w-[1px] bg-neutral-800/10 dark:bg-neutral-400/10 mx-2"></div>

    <!-- Theme Picker -->
    <div class="relative group">
      <!-- Theme Picker Menu Toggle -->
      <button id="theme-picker-menu-toggle"
              class="inline-grid place-items-center rounded-lg p-3 hover:text-neutral-900 dark:text-neutral-200 dark:hover:text-neutral-50 hover:bg-neutral-400/10 outline-none focus-visible:outline-red-800 dark:focus-visible:outline-amber-500 duration-200"
              onmousedown="if (this === document.activeElement) { event.preventDefault(); this.blur(); }">
        <iconify-icon icon="ri:sun-line" class="size-5 dark:hidden text-red-800 group-has-[input:checked[name='theme'][value='auto']]:text-neutral-400 dark:group-has-[input:checked[name='theme'][value='auto']]:text-neutral-500 duration-200" height="none" />
        <iconify-icon icon="ri:moon-clear-line" class="size-5 hidden dark:block text-amber-500 group-has-[input:checked[name='theme'][value='auto']]:text-neutral-400 dark:group-has-[input:checked[name='theme'][value='auto']]:text-neutral-500 duration-200" height="none"/>
      </button>
      <!-- Theme Picker Menu -->
      <ThemePickerMenu />
    </div>

  </div>
</nav>