---
import SideNavToggle from "./SideNav/SideNavToggle.astro";
import ThemePicker from "./ThemePicker.astro";

const { class: classList } = Astro.props;
---

<nav class:list={[classList, "flex items-center justify-between w-full bg-neutral-50 dark:bg-dark-gradient shadow-sm border-b border-neutral-800/10 dark:border-neutral-400/5 backdrop-blur bg-fixed py-2 px-4 sm:px-8"]}>

  <!-- Left Side -->
  <div class="flex items-center">
    <SideNavToggle />

    <a href="/" class="tracking-wider font-semibold py-3 px-4 rounded-lg hover:text-neutral-900 dark:text-neutral-200 dark:hover:text-neutral-50 hover:bg-neutral-400/10 duration-300 ms-2">
      ~/tanulchristian.dev/
    </a>
  </div>

  <!-- Right Side -->
  <div class="flex items-center">

    <!--<span class="mx-2 sm:mx-4 h-6 w-[1px] bg-neutral-800/10 dark:bg-neutral-400/5"></span>-->

    <ThemePicker />
  </div>
</nav>