<section id="clients" class="mb-24">
  <div
    class="flex w-full flex-col items-center justify-center gap-2 text-center max-lg:mx-auto lg:items-start lg:gap-4 lg:text-start"
  >
    <h3 class="text-3xl font-semibold">Clients</h3>
    <p class="text-zinc-800/90">
      Some of the clients I've worked with in the past.
    </p>

    <div
      class="flex w-full items-center justify-around gap-4 pt-16 max-lg:px-8"
    >
      <a href="https://icebergnft.com/"
        ><img
          src="/client-logo-icebergnft.webp"
          alt="IcebergNFT logo"
          class="max-h-28 grayscale transition duration-200 ease-in-out hover:grayscale-0"
          loading="lazy"
          decoding="async"
        /></a
      >
      <a href="https://operacro.com/"
        ><img
          src="/client-logo-opera.webp"
          alt="Opera logo"
          class="max-h-24 grayscale transition duration-200 ease-in-out hover:grayscale-0"
          loading="lazy"
          decoding="async"
        /></a
      >
      <a href="https://cosmeticaautotm.ro/"
        ><img
          src="/client-logo-cosmeticaautotm.webp"
          alt="Cosmetica Auto TM logo"
          class="max-h-28 grayscale transition duration-200 ease-in-out hover:grayscale-0"
          loading="lazy"
          decoding="async"
        /></a
      >
      <img
        src="/client-logo-active-learning.webp"
        alt="Active Learning logo"
        class="max-h-16 grayscale transition duration-200 ease-in-out hover:grayscale-0"
        loading="lazy"
        decoding="async"
      />
    </div>
  </div>
</section>
