---
import SkillDescription from "../SkillDescription.astro";
---

<section
  class="mx-auto mb-24 space-y-8 px-0 text-center lg:grid lg:w-auto lg:grid-cols-3 lg:gap-20 lg:space-y-0 lg:px-0">
  <SkillDescription
    title="Full Stack"
    description="Comfortable with both back-end & front-end. "
    icon="ri:stack-fill"
  />
  <SkillDescription
    title="Design"
    description="Fairly good eye for design and UI/UX principles."
    icon="ri:bard-fill"
  />
  <SkillDescription
    title="AI Integrations"
    description="Experience with GPT, Whisper (TTS), DALL-E and other APIs."
    icon="ri:robot-2-fill"
  />
</section>
