---
import { ViewTransitions } from "astro:transitions";

import "@fontsource-variable/rubik";
import "../styles/global.css";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import DialogProjects from "../components/DialogProjects.astro";

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en" class="bg-gradient-to-br from-zinc-100 to-zinc-200 bg-fixed">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" property="og:description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <link id="favicon" rel="icon" type="image/webp" sizes="32x32" href="/logo-dark.webp" transition:persist />
    <script is:inline  transition:persist>
      const usesDarkMode = window.matchMedia("(prefers-color-scheme: dark)").matches || false;
      const favicon = document.getElementById("favicon");

      function switchIcon(usesDarkMode) {
        if (usesDarkMode) {
          favicon.href = "/logo-dark.webp";
        } else {
          favicon.href = "/logo-light.webp";
        }
      }

      window
        .matchMedia("(prefers-color-scheme: dark)")
        .addEventListener("change", (e) => switchIcon(e.matches));
      switchIcon(usesDarkMode);
    </script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <ViewTransitions />
  </head>

  <body
    class="min-h-screen bg-gradient-to-br from-zinc-100 to-zinc-200 bg-fixed dark:from-zinc-800 dark:to-zinc-900">
    <div
      class="mx-auto min-h-full max-w-lg px-4 transition-all duration-500 md:max-w-xl lg:max-w-6xl">
      <Nav />
      <main class="min-h-[70vh] animate-fade">
        <slot />
      </main>
      <Footer />
    </div>

    <DialogProjects />
    <style is:global>
      body {
        @apply font-['Rubik_Variable'] text-zinc-800;
      }
    </style>
  </body>
</html>
