---
import { ViewTransitions } from "astro:transitions";

import "../styles/global.css";
import { AstroFont } from "astro-font";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en" class="bg-gradient-to-br from-zinc-100 to-zinc-200 bg-fixed">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" property="og:description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/christian-tanul-logo.webp" />
    <AstroFont
      config={[
        {
          src: [],
          preload: false,
          display: "swap",
          name: "Rubik Variable",
          fallback: "sans-serif",
          cssVariable: "font-rubik-variable",
          googleFontsURL: 'https://fonts.googleapis.com/css2?family=Rubik:wght@300..900',
        },
        {
          src: [],
          name: "Rubik",
          preload: false,
          display: "swap",
          fallback: "sans-serif",
          cssVariable: "font-rubik",
          googleFontsURL: 'https://fonts.googleapis.com/css2?family=Rubik:wght@500;600',
        },
        {
          src: [],
          preload: false,
          display: "swap",
          name: "Public Sans",
          fallback: "sans-serif",
          cssVariable: "font-public-sans",
          googleFontsURL: 'https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;0,700;1,400',
        },
      ]}
    />
    <ViewTransitions />
  </head>

  <body
    class="min-h-screen bg-gradient-to-br from-zinc-100 to-zinc-200 bg-fixed">
    <div
      class="mx-auto min-h-full max-w-lg px-4 transition-all duration-500 md:max-w-xl lg:max-w-6xl">
      <Nav />
      <main class="animate-fade">
        <slot />
      </main>
      <Footer />
    </div>
    <style is:global>
      body {
        @apply font-['Rubik_Variable'] text-zinc-800;
      }
    </style>
  </body>
</html>
